<html>
	<header>
		<link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css">
		
	</header>
	<body ng-app="app">
		<div class="container" ng-controller="PostCtrl">
			<h1>Recent Posts</h1>
			<form role='form'>
				<div class="form-group">
					<div class="input-group" >
						<input ng-model='postBody' class="form-control"/>
						<span class='input-group-btn'>
							<button ng-click="addPost()" class="btn btn-default">Add Post</button>
						</span>
					</div>
				</div>
			</form>		
			<ul class="list-group">
				<li ng-repeat="post in posts | orderBy:'-date'" class="list-group-item">
					<strong>{{post.body}}</strong>
				</li>
			</ul>
		</div>
		<script src="/lib/jquery/dist/jquery.min.js"></script>
		<script src="/lib/bootstrap/dist/js/bootstrap.min.js"></script>
		<script src="/socket.io/socket.io.js"></script>
		<script src="/lib/angularjs/angular.min.js"></script>
		<script src="/lib/angular-socket-io/socket.min.js"></script>
		<script src="/js/app.js"></script>
	</body>
	
</html>