<html>
	<head>
		<link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css">
		<link rel="stylesheet" href="/lib/font-awesome/css/font-awesome.min.css">
	</head>
	<body ng-app="app">

		<div ui-view></div>

		<script src="/lib/angularjs/angular.min.js"></script>
		<script src="/lib/a0-angular-storage/dist/angular-storage.min.js"></script>
		<script src="/lib/angular-jwt/dist/angular-jwt.min.js"></script>
		<script src="/lib/angular-ui-router/release/angular-ui-router.min.js"></script>
		<script src="/lib/jquery/dist/jquery.min.js"></script>
		<script src="/lib/bootstrap/dist/js/bootstrap.min.js"></script>
		<script src="/js/app.js"></script>
	</body>
</html>