<div class="container">
	<h1>Sign Up</h1>
	<form ng-submit="login(username,password)">
		<div class="form-group">
			<label>Username</label>
			<input class="form-control" ng-model="user.username" type="text" ng-model="username">
		</div>
		<div class="form-group">
			<label>Password</label>
			<input class="form-control" ng-model="user.password" type="text" ng-model="password">
		</div>
		<input class="btn btn-success btn-lg btn-block" ng-click="submit()" type="submit" value="Login">
	</form>
</div>